@if (error) {
    <div class="error">Error: {{ error }}</div>
}
@if (grant['login']) {
    <div>Hello {{ grant['login'] }}!</div>
}
@if (products) {
    <ul id="products">
        @for(item of products; track item.row_id) {
            <li>
                <img src="data:{{ item.demoPrdPicture.mime }};base64,{{ item.demoPrdPicture.content }}" alt="Picture"/>
                <h1>{{ item.demoPrdName }}</h1>
                <h2>{{ item.demoPrdReference }}</h2>
                <p>{{ item.demoPrdDescription }}</p>
            </li>
        }
    </ul>
}
